:root{
--my-white: #fff;
--my-bacground :#d9d9d9;
--my-black : #222;
--my-green: rgb(42, 151, 91);
--my-black-trans: rgba(75, 75, 75, 0.5);
}
@font-face {
    font-family: "Vazir";
    src: url('./project/fonts/Vazir.eot');
    src: url('./project/fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('./project/fonts/Vazir.woff2') format('woff2'), 
    url('./project/fonts/Vazir.woff') format('woff'), 
    url('./project/fonts/Vazir.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    background-color:var(--my-black-trans);
    width:10px;
    }

html::-webkit-scrollbar-thumb {
    background-color: var(--my-black);
}

.section-container::-webkit-scrollbar {
    background-color:var(--my-black-trans);
    width:10px;
    }

.section-container::-webkit-scrollbar-thumb {
    background-color: var(--my-black);
}


body{
    direction: rtl;
    font-family: Vazir, Tahoma;
    background: rgb(14,223,124);
    background: linear-gradient(90deg, rgba(14,223,124,1) 0%, rgba(9,105,59,1) 50%, rgba(14,223,124,1) 100%);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

nav{
    z-index: 10;
    width: 8vw;
    min-width: 90px;
    background-color: var(--my-bacground);
    margin-left: 1vw;
    border-radius: 3px;
}

.section-container{
    width: 60vw;
    max-width: 900px;
    overflow-y:scroll;
    height: 80%;
    background-color: var(--my-bacground);
    display: block;
    border-radius: 3px;
}


nav ul li a{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--my-green);
}

nav ul li{
    list-style: none;
}


hr{
    border-top : 1px  white;
}

nav ul li:hover{
    cursor: pointer;
}

nav ul li:hover a{
    transition-duration: 0.5s;
    color: var(--my-white);
    background-color: var(--my-green);
}

.active{
    background-color: var(--my-green);
    color: var(--my-white) !important;
}

section{
    padding: 10px;
}

h1{
    color: var(--my-green);
    padding-bottom: 2vh;
}

p{
    color: var(--my-black);
    text-align: justify;
}

.person-container{
    display: flex;
}

.person-item-p{
    width: 65%;
}

.person-item-t{
    width: 35%;
    padding-left: 3vw;
}

.small-title{
    background-color: var(--my-green);
    border-radius: 3px;
    color: var(--my-white);
    font-size: 0.85rem;
    padding: 2px;
}

.person-info-item{
    padding: 3px 0;
}


.skill-container{
    padding-top: 10px;
}

.progress-back{
    background-color: #818181;
    width: 100%;
    height: 21px;
    color: white;
    border-radius: 3px;
}

.progress-front{
    background-color: var(--my-green);
    height: 21px;
    border-radius: 3px;
}

.w-90{
    width: 90%;
}

.w-85{
    width: 85%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-65{
    width: 65%;
}

.my-title{
    padding-top: 25px;
    text-align: center;
}


.card{
    padding: 3vh 0;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px var(--my-black-trans);
    margin: 10px;
    border: 1px solid #eee;
    position: relative;
    border-radius: 3px;
    transition-duration: 0.5s;

    
}

.card h3{
    text-align: center;
    color: var(--my-green);
    padding-bottom: 12px;
}

.card p{
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    color: #222;
    text-align: justify;
}

.card:hover .btns-in-card{
    opacity: 1;
}

.card:hover .head-in-card{
    opacity: 1;
}

.card:hover {
    background-color: var(--my-black-trans);
}

.btns-in-card{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--my-black-trans);
    opacity: 0;
    display: flex;
    transition: 0.5s ease-out;
}

.head-in-card{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: var(--my-black-trans);
    display: flex;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease-out;
}

.head-in-card .fa{
    color: var(--my-white);
}

.head-in-card .fa span{
    color: var(--my-white);
    padding: 5px;
}

.btns-in-card a button{
    font-family: Vazir, Tahoma;
    width: 100%;
    padding: 10px;
    background: var(--my-white);
    border: none;
    cursor: pointer;
}

.btns-in-card a{
    width: 50%;
}



.btns-in-card a button:hover{
    background: var(--my-green);
    color: var(--my-white);
    font-size: 0.9rem;
    transition-duration: 0.5s;

}

.card img{
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cards-in-example{
    padding: 3vw;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%; 
    gap: 10px;
    
}

.contact-item{
    color: var(--my-green);
}
.contact-container{
    padding: 4vh 0;
    display: flex;
    justify-content: space-around;
    font-size: 6rem;
    color: var(--secondary-color);
}

.contact-item:hover{
    cursor: pointer;
    color: var(--my-black);
    transition-duration: 0.5s;

}



.form-half-items{
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
}

.form-complete-items{
    padding: 0.5vw;
}

.item-in-form{
    width: 45%;
}

.my-txt{
    font-family: Vazir, Tahoma;
    background-color: transparent;
    border: 1px solid var(--my-green);
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: var(--my-black);
    font-weight: bold;
    border-radius: 3px;
}

.my-txt input:focus,
.my-txt input:valid{
    outline: 0;
}

textarea{
    width: 100%;
    padding: 1vw;
}


.submit-btn button{
    background-color: var(--my-white);
    color: var(--my-black);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    padding: 1vw 2vw;
    cursor: pointer;
    font-family: Vazir, Tahoma;
    width: 100%;
}

.submit-btn button:hover{
    background-color: var(--my-green);
    color: var(--my-white);
    transition-duration: 0.5s;
}

.footer{
    background-color: var(--my-green);
    text-align: center;
    padding: 25px;
    color: white;
}

.footer .fa{
    font-size: 1.2rem !important;
    padding: 5px;
}

.footer-item:hover{
    color: var(--my-black);
    cursor: pointer;
}


@media (max-width:700px){
    .main{
        display: block;
    }

    .section-container{
        width: 100%;
        height: auto;
        max-height: 10000px;
        overflow-y: visible;
        padding-top: 40px;
    }

    nav{
        width: 100%;
        position: fixed;
        height: 40px;
        
    }
    nav ul{
        display: flex;
	    justify-content: space-between;
	    align-items: center;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        flex-direction: row;
        width: 100%;
        display: block;
    }
    
    .person-container{
        flex-direction: column;
    }

    .person-item-p{
        width: 100%;
        padding: 2vw;
    }
    
    .person-item-t{
        width: 100%;
        padding: 2vw;
    }

    .cards-in-example{
        padding: 3vw;
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 100%; 
        gap: 10px;
        
    }
}
